@media screen and (max-width: $medium) {
  .hidden-sm {
    display: none;
  }
}

@media screen and (min-width: $medium) {
  .hidden-sm {
    display: block;
  }

  .fa-plus {
    display: inline-block;
  }

  .hidden-md {
    display: none;
  }

  .btnIcon {
    width: 48px;
    height: 30px;
  }

  .header_top_medium {
    display: inline-block;
  }

  .user_info {
    .header {
      height: 190px;
      padding: 40px 20px 50px;

      button {
        width: 20px;
        height: 20px;
        margin: 0 0 0 20px;
      }

      .fas,
      .fa{
        font-size: 1.1em;
      }

      &_title {
        font-size: 54px;
        bottom: 30px;
        left: 80px;
      }
    }
  }
}

@media screen and (min-width: $large) {
  .user_info {
    .header {
      .star_block {
        top: 30px;
        right: -80px;
      }
    }
  }
}

@media screen and (max-width: $large) and (min-width: $small) {
  .side_bar {
    padding: 20px 0 0 20px;
  }
}