.side_bar {
  padding: 20px 0 0 0;

  &_header {
    color: $bg-color;
    display: flex;
    justify-content: space-between;
    height: 40px;
    margin: 0 0 0 -15px;

    &_left {
      span {
        font-size: 1.3em;

        .fa-caret-down {
          float: right;
          margin: 3px 0 0 -10px;
        }
      }
    }
  }

  &_content {
    &_box {
      display: flex;

      .user_section {
        width: 30px;
        padding: 35px 0 0 0;
        color: $bg-pink;
        font-weight: bold;
        font-size: 1.5em;
        .fa {
          color: $bg-pink;
          font-size: 18px;
        }
      }

      .user_list {
        flex: 1;

        ul {
          padding: 10px 0;

          li {
            clear: both;

            a {
              text-decoration: none;
              padding: 13px 0 13px 15px;
              display: inline-block;
              width: 100%;
              height: 40px;
              line-height: 40px;
              vertical-align: middle;
              color: $bg-dark-gray;
              font-weight: bold;

              &:hover,
              &:focus{
                background: $bg-link-gray;
                outline: none;
              }
            }
          }
        }

        &_avatar {
            height: 40px;
            width: 40px;
            border-radius: 50%;
            float: left;
        }

        &_name {
          margin: 0 0 0 15px;
        }
      }
    }
  }
}
