$main-bg-color: #eee;
$bg-color: #fff;
$bg-purple: #414cb7;
$purple-light: #CFBEFF;
$bg-dark-gray: #606061;
$bg-light-gray: #b0aaaa;
$bg-link-gray: #E0DADA;
$bg-gray: #757575;
$bg-pink: #ff3e81;
$bg-pink-dark: #e23a73;
$bg-light-pink: #ffe6ef;

$small: 414px;
$medium: 767px;
$large: 1024px;
$extra-large: 1280px;
$max-large: 1920px;

