$main-bg-color: #eee;
$bg-color: #fff;
$bg-purple: #414cb7;
$bg-dark-gray: #606061;
$bg-light-gray: #b0aaaa;
$bg-gray: #757575;
$bg-pink: #ff3e81;
$bg-light-pink: #ffe6ef;

$small: 414px;
$medium: 767px;
$large: 1024px;
$extra-large: 1280px;
$max-large: 1920px;

